<a href="https://colab.research.google.com/github/Jiwan21-create/class-008/blob/main/class_5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

percentage

In [ ]:
# percent
per=int(input("enter the value :-"))
if per>=60:
  print("first divion")
elif per>=45:
  print("second divion")
elif per>=33:
  print("third divion")
else:
  print("failed")

enter the value :-30
failed

age group classification

In [ ]:
#age group
print("naman")
age=int(input("enter your age"))

if age <=12:
  print("child")
elif age <= 21:
  print("teenager")
elif age <=30:
  print("adult")
else:
  print("senior")

naman
enter your age11
child

In [ ]:
days ="tuesday"
if days =="saturday" or days =="sunday":
  print("weekend_day")

elif days =="monday" or days=="tuesday" or days=="wednesday" or days=="thursday" or days=="friday":
    print("non_weekend_day")

non_weekend_day

acccounting bill

In [ ]:
# amzon bill
print("amzon_bill")
price_cake = 120
price_burger = 150
print("price_cake",price_cake)
print("price_burger",price_cake)
total_amount = price_cake + price_burger
print("total_amount",total_amount)
discount = float(input("enter the value of discount"))
total_discount = (total_amount * discount)/100
final_amount = total_amount - discount
print("final_amount",final_amount)
#orders
order_one_cake = 2
order_two_burger = 3
print("order_one_cake",order_one_cake)
print("order_two_burger",order_two_burger)
price_of_cake = price_cake*order_one_cake
print("price_of_cake",price_of_cake)
price_of_burger = price_burger*order_two_burger
print("price_of_burger",price_of_burger)
final=price_of_cake+price_of_burger
print("final",final)

#otp
print("---send otp---------")

otp=int(input("enter the value of otp"))
if otp>= 9999:
 print("order dilvery")
elif otp>= 88234:
  print("not dilvery")
else:
  print("no dilvery")

# place of price

print("------find a price place------------  ------ ------ ------")
price=int(input("enter the value of price"))
if price>= 45000:
 print("most high price")
elif price>=4500:
  print("medium price")
elif price>=2300:
  print("low price")
else:
  print("least price")

amzon_bill
price_cake 120
price_burger 120
total_amount 270
enter the value of discount 50
final_amount 220.0
order_one_cake 2
order_two_burger 3
price_of_cake 240
price_of_burger 450
final 690
---send otp---------
enter the value of otp 23456
order dilvery
------find a price place------------  ------ ------ ------
enter the value of price  45678
most high price

In [9]:
print("----------- railway tickets--------")
print("jiwan tickets")
ticket =int(input("enter the age of person"))
if ticket  >= 15:
  print("upper value of tickets")
elif ticket  >=30:
  print("middle value of tickets")
elif ticket  >=60:
    print("upper value of tickets")
else:
  print("invaled tickets")

----------- railway tickets--------
jiwan tickets
enter the age of person 30
upper value of tickets