<a href="https://colab.research.google.com/github/Jiwan21-create/class-008/blob/main/Copy_of_class1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a = 2
b = 1
print ("sum of a and b" ,a+b)

sum of a and b 3

In [ ]:
a = "jiwan"
print(a)
b = 17
print(b)

jiwan
17

In [1]:
a = 21
print(a)

21

In [ ]:
print("my name is jiwan singh")
print("my age is 17 years")
print("i am study in class 11th")
print("i live currently in chandigarh")
print("i am choseing commerce stream")
print("my hobbies are playing games")

my name is jiwan singh
my age is 17 years
i am study in class 11th
i live currently in chandigarh
i am choseing commerce stream
my hobbies are playing games

In [ ]:
a = ("my name is jiwan")
print (a)
b = ("my hobbies are reading books")
print (b)

my name is jiwan
my hobbies are reading books

In [4]:
print(" list 5 population state")
print("1. utter pradesh population is 199812341")
print("2. maharashtra population is 112372972")
print("3. bihara population is 103812341")
print("4. west bengal population is 91347736")
print("5. madhya pradesh population is 72597565")

 list 5 population state
1. utter pradesh population is 199812341
2. maharashtra population is 112372972
3. bihara population is 103812341
4. west bengal population is 91347736
5. madhya pradesh population is 72597565

In [8]:
a = ("jiwan")
b = (" kundan ")
print(a+b)

jiwan kundan

In [10]:
print("account holder details ")
print("account holder name = jiwan")
print("registered mobile number = 8146352203")
print("residential address = 59")
print("account type = personal")
print("account balance = 23145")

account holder details
account holder name = jiwan
registered mobile number = 8146352203
residential address = 59
account type = personal
account balance = 23145

In [7]:
a = 2
b = 3
print(a+b)

5