<a href="https://colab.research.google.com/github/Jiwan21-create/class-008/blob/main/new_start.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

original made by myself

and
don not repeat mistake again

.space  .int use in number term fill in input . float . input only use in words type

In [ ]:
#railway station
print("--------railway tickets book online in simple way---------------------")
gender_ticket=input("enter the gender of ticket person (male/female);")
age=int(input("enter the age of person"))

if gender_ticket=="male":
  print("SA TRAIN")
  if age>60:
    print("lower class in male box")
  elif age>=30 and age<=60:
    print("middle class in male box")
  elif age<30:
    print("upper class in male box")
  else:
    print("not reserved")

elif gender_ticket=="female":
  print("SB TRAIN")
  if age>60:
    print("lower class in female box")
  elif age>=30 and age<=60:
    print("middle class in female box")
  elif age<30:
    print("upper class in female box")
  else:
    print("not reserved")

else:
  print("invalid gender,seat not book")

--------railway tickets book online in simple way---------------------
enter the gender of ticket person (male/female);male
enter the age of person38
SA TRAIN
middle class in male box

railway sation again made code,

and () use in before the if and elif

and,
or use in both of one :

and use in both are choose

In [ ]:
#()use in if (ticket==1 or ticket==2), only take one example.we are see in code
print("---raiway station ticket retuen sold----| ")
ticket=int(input("enter the value of tickets 1,2,3 : "))
if(ticket==1 or ticket==2):
  print("ticket booked for no.123 class luxury")
  age = int(input("enter your age : "))
  if (age>60):
    print("lower class")
  else:
    print("upper class")
elif(ticket==3):
  print("ticket booked for no.456 class non luxury")
  age = int(input("enter your age : "))
  if(age<30):
    print("lower class")
  elif(age>30 and age<60):
    print("middle class")
  else:
    print("upper class")
else:
  print("invalid input")

---raiway station ticket retuen sold----|
enter the value of tickets 1,2,3 : 3
ticket booked for no.456 class non luxury
enter your age : 45
middle class

focus on logic and some time not use else due to right logic help in find result only.

. = some time use or not depend on myself  and some condition use

In [ ]:
print("----school report-----")
# focus on logic and logic is right so some time don't use else then colab deacted the logic only and show result
# use = in no. terms some time and not use in some time
marks = int(input("enter the marks : "))
if marks>60:
  print("first division")
  if age>90:
    print("grade A+")
  elif age>80:
    print("grade A")
  elif age>70:
    print("grade B+")
  elif age>60:
    print("grade B")
elif marks>40:
  print("second division")
  if age>50:
      print("grade C+")
  elif age>40:
      print("grade C")
elif marks>30:
  print("third division")
  print("grade D")
else:
  print("fail try again----")

----school report-----
enter the marks : 33
third division
grade D

hostel report on very logical mind

In [ ]:
# room of hostel
gender=input("enter the gender : ")
age=int(input("enter the age : "))
if gender=="male" or gender=="female":
  if gender=="male":
   print("hotel alloted the sun park ")
   if age<=60:
    print("section A in hotel")
   elif age<30:
    print("section B in hotel")
   elif age>30 and age<100:
    print("section C in hotel")
   else:
      print("section not alloted")
  else:
    print("hotel alloted the sun park BBBB2 part")
    if age<30:
      print("block 1")
    elif age>30:
      print("block 2")
elif gender=="others":
  print("hotel alloted blue bird")
  print(" full section A  in hotel")
else:
  print("no  relevant output show")

enter the gender : female
enter the age : 56
hotel alloted the sun park BBBB2 part
block 2

hotel report make a different  in easyy way

In [ ]:
# room of hostel
gender=input("enter the gender : ")
age=int(input("enter the age : "))
if gender=="male":
  print("hotel alloted the sun park ")
  if age>=60:
    print("section A in hotel")
  elif age<30:
    print("section B in hotel")
  elif age>30 and age<60:
    print("section C in hotel")
elif gender=="female":
  print("hotel alloted the sun park (B place)")
  if age>=60:
    print("section A in hotel (B place)")
  elif age<30:
    print("section B in hotel(B place)")
  elif age>30 and age<60:
    print("section C in hotel (B place)")
elif gender=="others":
  print("hotel alloted blue bird")
  print(" full section A  in hotel")
else:
  print("no  relevant output show")

enter the gender : others
enter the age : 45
hotel alloted blue bird
 full section A  in hotel

blood pressure  and sugar level report errrrorrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrr

In [29]:
# health report
gender=input("enter the gender")
age=int(input("enter the age"))
blood_pressure=int(input("enter the blood pressure"))
sugar_level=int(input("enter the sugar level"))
if gender=="male" or "female":
  if gender=="male":
    print(" male strength is much")
    if age>10 and age<30:
      print("weak body system")
    elif age>30 and age<70:
      print("strong body system")
    elif age>70 and age<100:
      print("moderate body system")
      if blood_pressure >=0 <50:
        print(" low blood pressure")
      elif blood_pressure >50 <100:
        print("normal blood pressure")
      elif blood_pressure >100 <150:
        print("high blood pressure")
        if sugar_level >0 <50:
          print("low sugar")
        elif sugar_level >50 <100:
          print("normal sugar")
        elif sugar_level >100 <150:
          print("high sugar")
        else:
          print("most high sugar")
      else:
         print("most high blood pressure")
    else:
       print("very very very  weak body system")
       if age>10 and age<30:
            print("weak body system is female")
       elif age>30 and age<60:
            print("strong body system is female")
  else:
    print("female strengh is less")
else:
  print("no output")

enter the gender male
enter the age 56
enter the blood pressure 24
enter the sugar level 56
female strengh is less

simple blood pressure and sugar pressure error

In [ ]:
#simple blood pressure and sugar pressure
gender=input("enter the gender")
age=int(input("enter the age"))
blood_pressure=int(input("enter the blood pressure"))
sugar_level=int(input("enter the sugar level"))
if blood_pressure >=0 <50:
        print(" low blood pressure")
if blood_pressure >=50 <100:
        print("normal blood pressure")
if blood_pressure >=100 <150:
        print("high blood pressure")
else:
        print("most high blood pressure")
        if sugar_level >=0 <50:
          print("low sugar")
        if sugar_level >=50 <100:
          print("normal sugar")
        if sugar_level >=100 <150:
          print("high sugar")
        else:
          print("most high sugar")

enter the gendermale
enter the age67
enter the blood pressure87
enter the sugar level98
 low blood pressure
normal blood pressure
most high blood pressure
low sugar
normal sugar
most high sugar

simple interset

In [ ]:
#simple interset
principle=int(input("enter the value of principle : "))
rate=int(input("enter the value of rate : "))
time=int(input("enter the time : "))
SI=(principle*rate*time)/100
print("simple interset",SI)

enter the value of principle : 450
enter the value of rate : 12
enter the time : 4
simple interset 216.0

simple interset in months and days

In [ ]:
#simple interset in days and months
principle=int(input("enter the value of principle : "))
rate=int(input("enter the value of rate : "))
months=int(input("enter the months : "))
days=int(input("enter the days : "))
total_time=(months*30+days)/30
print("total_time : ",total_time)
SI=(principle*rate*total_time)/100
print("simple interset : " , SI)

enter the value of principle : 450
enter the value of rate : 20
enter the months : 5
enter the days : 11
total_time :  5.366666666666666
simple interset :  482.99999999999994

leap year

In [ ]:
#leap year
print("leap year")
year =int(input("enter the value of year:  "))
if year%4 == 0:

  if year%100==0:

   if year%400==0:
    print("it is also  leap year")
   else:
      print(" not leap year")
  else:
      print("leap year")
else:
      print("leap year is not")

leap year
enter the value of year:  2300
 not leap year

simple interset in days

In [37]:
principle=int(input("enter the principle"))
rate=int(input("enter the rate"))
time=int(input("enter the time"))
days=int(input("enter the days"))
month=input("enter the months")
year=int(input("enter the  year"))
simple_interset_in_month=(principle*rate*time)/100
print("simple interset is",simple_interset_in_month)
if month=="jaunary" or  month=="march" or month== "may" or month== "july" or month=="august" or month=="october" or month=="december":
  print("31 days")
  days_in_month = 31
elif month=="apirl" or month=="june" or month=="september":
  print("30 days")
  days_in_month= 30
else:
  print("29 days")


  if year%4==0:
    if year%100==0:
     if year%400==0:
      print("it isa aleap year")
     else:
        print("it is not a leap")
        print("28")
    else:
      print("leap year")
      print("29")
  else:
    print("it is also not leap year")
    print("28")







final_month = days/days_in_month
SI_in_days = (principle*rate*final_month)/100
print("simple interset",SI_in_days)
total_interset=(simple_interset_in_month+SI_in_days)
print("total interset is : ",total_interset)

enter the principle1000
enter the rate5
enter the time2
enter the days21
enter the monthsfeberary
enter the  year2029
simple interset is 100.0
29 days
it is also not leap year
28
simple interset 36.20689655172414
total interset is :  136.20689655172413