<a href="https://colab.research.google.com/github/Jiwan21-create/class-008/blob/main/Untitled2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
for i in range(1,10):
  print("1")

1
1
1
1
1
1
1
1
1

In [ ]:
for i in range(0,100,5):
  print(i)

0
5
10
15
20
25
30
35
40
45
50
55
60
65
70
75
80
85
90
95

In [ ]:
print("---traffic light-----")
light=input("enter the light name(red,green,yellow) : ")
way=input("enter the way(east,west,north,south) : ")
if light=="red":
  if way=="east":
    print("stop!")
  else:
    print("invalid")
elif light=="yellow":
  if way=="west":
    print("ready to go!")
  else:
    print("invalid")
elif light=="green":
  if way=="south":
    print("go go go go go !")
  else:
    print("invalid")
elif light=="red":
  if way=="north":
    print("stop!!!!!!!!!!stop")
  else:
    print("invalid")

else:
  print("invalid,light")

---traffic light-----
enter the light name(red,green,yellow) : green
enter the way(east,west,north,south) : south
go go go go go !

traffic light

In [ ]:
print("----traffic light-----")
#CHD traffic light view
light=input("enter the light name (red,green,yellow) : ")
incoming_road=input("enter the way for GOING : ")
outgoing_road=input("enter the way for COME : ")
bycycle=input("enter the road of BYCYCLE : ")
zebra_cross=input("enter the ZEBRA CROSS : ")
#taken the input    #given directions
if light=="red":
 if incoming_road=="east" or incoming_road=="north":
  print("INCOMING SIDE OF NORTH AND EAST SIDE stop!stop!")
  print("OPEN THE EAST OUTGOING")
  print("OPEN THE NORTH OUTGOING")
  print("CLOSE THE  SOUTH INCOMING")
  print("WRONG MANNER TO GOING THE SOUTH OUTGOING SIDE")
  print("OPEN THE WEST INCOMING because : GREEN LIGHT")
  print("CLOSE THE WEST OUTGOING")
  if outgoing_road=="east" or outgoing_road=="north":
    print("road on vechicles for east and north side")
    if bycycle=="east" or bycycle=="north":
      print("stop!also")
      if zebra_cross=="east" or zebra_cross=="north":
        print("free a zebra cross for public")
      else:
        print("invalid")
    else:
      print("invalid!")
  else:
    ("invalid")
 else:
  print("invalid")
elif light=="yellow":
  if incoming_road=="south":
    print("SOUTH SIDE ready to go!!!!")
    print("INCOMING SIDE OF NORTH AND EAST SIDE stop!stop!")
    print("OPEN THE EAST OUTGOING")
    print("OPEN THE NORTH OUTGOING")
    print("OPEN THE WEST INCOMING because : GREEN LIGHT")
    print("CLOSE THE WEST OUTGOING")
    if outgoing_road=="south":
     print("also road on vechicles for sourh side")
     if bycycle=="south":
      print("stop!!also")
      if zebra_cross=="south":
        print("free a zebra cross also!!!!!!")
      else:
        print("invalid!")
     else:
      print("invalid")
    else:
      print("invalid")
  else:
    print("invalid")

elif light=="green":
 if incoming_road=="west":
  print("open the west incoming go go !!")
  print("OPEN THE EAST OUTGOING")
  print("OPEN THE NORTH OUTGOING")
  print("close the west outgoing")
  print("INCOMING SIDE OF NORTH AND EAST SIDE stop!stop!")
  if outgoing_road=="west":
    print("no vechicles!!!!!!!")
    if bycycle=="west":
      print("go go also!")
      if zebra_cross=="west":
        print("not free zebra cross")
      else:
        print("invalid")
    else:
      print("invalid!!!")
  else:
    print("invalid")
 else:
  print("invalid")
else:
  print("invalid")

----traffic light-----
enter the light name (red,green,yellow) : red
enter the way for GOING : east
enter the way for COME : east
enter the road of BYCYCLE : east
enter the ZEBRA CROSS : east
INCOMING SIDE OF NORTH AND EAST SIDE stop!stop!
OPEN THE EAST OUTGOING
OPEN THE NORTH OUTGOING
CLOSE THE  SOUTH INCOMING
WRONG MANNER TO GOING THE SOUTH OUTGOING SIDE
OPEN THE WEST INCOMING because : GREEN LIGHT
CLOSE THE WEST OUTGOING
road on vechicles for east and north side
stop!also
free a zebra cross for public

In [ ]:
#traffic light
road_incoming=input("enter the road direction : ")
light_big=input("enter the light nmae(green/yellow/red) : ")
outgoing=input("enter the outcoming : ")
zebra_cross=input("enter the zebra cross : ")
light_small=input("enter the light name light samll (green/yellow/red) : ")
direction_of_small=input('enter the direction of small light : ')
#input given
if road_incoming=="south":
  if light_big=="red":
    print("stop!stop!stop!")
    print("")
    if outgoing=="south":
        print("south outgoing side vechicles on road")
        print("")

        print("")
        if zebra_cross=="south" or zebra_cross=="north" or zebra_cross=="east" or zebra_cross=="west":
          print("free for a public to road")
          if light_small=="green":
            print("go!go!go!")
            if direction_of_small=="south" or direction_of_small=="north" or direction_of_small=="west" or direction_of_small=="east":
              print("vechicles on choka light")
            else:
              print("invalid")
          else:
            print("invalid")
        else:
            print("invalid")
    else:
            print("invalid")
  else:
        print("invalid")

enter the road direction : south
enter the light nmae(green/yellow/red) : green
enter the outcoming : south
enter the zebra cross : south
enter the light name light samll (green/yellow/red) : red
enter the direction of small light : south
invalid

even number

In [ ]:
for i in range(0,100,2):
  print(i)

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98

odd number

In [ ]:
for i in range(1,100,2):
  print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

new

In [ ]:
sum=0
for i in range(1,15):
  sum=sum+i
  print(sum)

1
3
6
10
15
21
28
36
45
55
66
78
91
105

! exclatory use in opposite way

In [ ]:
#even and odd number (!!!!!!!!!!!!!!)
for i in range(1,100):
   if (i%2==0):
    print(i)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98

In [ ]:
#given a range decrase level
for i in range(100,0,-1):
 print(i)

100
99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

In [ ]:
n=5
while n>0:
  print(n)
  n=n-1

5
4
3
2
1

In [ ]:
#even number find summm
sum=0
for i in range(1,100):
  if(i%2==0):
    sum=sum+i
print(sum)

2450

In [ ]:
#odd number summ find
sum=0
for i in range(1,100):
  if(i%2!=0):
    sum=sum+i
print(sum)

2500

In [ ]:
#divisble
sum=0
for i in range(1,1000):
  if(i%10==0 or i%25==0):
    sum=sum+i
print(sum)

59500

In [ ]:
# 25 and 30 fraction
sum=0
for i in range(1,1000):
  if(i%25==0 and i%30==0):
    sum=sum+i
print(sum)

3150

In [ ]:
#while (for specific needs)
n=0
while n<30:
  print(n)
  n=n+1

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29

In [ ]:
# five number add
sum=0
n=0
while (n<=5):
  sum=sum+n
  n=n+1
  print(sum)

0
1
3
6
10
15

In [ ]:
#fibcorces
first=0
second=1
print(first)
print(second)
for i in range(2,11):
  third = first+second
  first = second
  second = third
  print(second)

0
1
1
2
3
5
8
13
21
34
55

In [ ]:
# num
sum = 0
num=54678
while num>0:
  digit=num%10
  sum = sum+digit
  num = int(num //10)
print(sum)

30

In [ ]:
# round 10
a=5
b=2
c=a//b
c=round(a/b)
print(c)

2

In [ ]:
#fib series set by a limit
a,b=0,1
limit=11
for _ in range(limit):
  print(a)
  fib=a+b
  a=b
  b=fib

0
1
1
2
3
5
8
13
21
34
55

In [ ]:
num=56678
sum=0
while(num>0):
  dig=num%10
  sum=sum+(dig*dig)
  num=num//10
print(sum)

210

In [ ]:
num=56789
sum=0
while(num>0):
  dig=num%10
  sum=sum*10+dig
  num=num//10
print(sum)

98765

In [ ]:
sum=0
num=int(input("enter the number : "))
while(num>0):
  dig=num%10
  sum=sum+dig
  num=num//10
print(sum)

enter the number : 56789
35

In [ ]:
sum=0
num=int(input("enter the number : "))
while(num>0):
  dis=num%10
  sum=sum+dis
  num=num//10
print(sum)

enter the number : 789
24

In [ ]:
first=0
second=1
n=0
while(n<=10):
  print(first)
  first,second=second,first+second
  n=n+1

0
1
1
2
3
5
8
13
21
34
55

In [ ]:
# factorial num
factorial_num=5
factorial=1
for i in range(1,factorial_num):
  factorial = i * i+1
  print(factorial)

2
5
10
17

In [ ]:
for i in range(1,100+1):
  if(i%25==0 or i%30==0 or i%36==0):
    print(i)

25
30
36
50
60
72
75
90
100

In [ ]:
for i in range(1,1000+1):
  if(i%25==0 and i%3==0 and i%9==0):
    print(i)

225
450
675
900

In [ ]:
for i in range(1,1000+1):
  if(i%25==0 and i%3==0 and i%9!=0):
    print(i)

75
150
300
375
525
600
750
825
975

In [ ]:
#fibonacci series
num1 = 0
num2 = 1
fib_num = 10
fib_series = 0
if(fib_num == 0):
  print(fib_num)
elif(fib_num == 1):
  print(fib_series)
else:
  print(num1)
  print(num2)
  for i in range(0,fib_num-2):
    fib_series=num1+num2
    num1=num2
    num2=fib_series
    print(fib_series)

0
1
1
2
3
5
8
13
21
34

In [ ]:
n=5
while(n>0):
  print(n)
  n=n-1

5
4
3
2
1

In [ ]:
num=6523
sum=0
new_num=0
while(num>0):
  digit=num%10
  sum=sum+digit
  num=num//10
  print(digit)

3
2
5
6
3256
16

In [ ]:
num=6789
sum=0
reverse=0
print(" the number is : ",num)
while(num > 0):
  digit=num%10
  sum=sum+digit
  num=(num-digit)/10
  print(int(digit))
  reverse=reverse*10+int(digit)
print("the sum is : ",round(sum))
print("the reverse  number : ",reverse)

 the number is :  6789
9
8
7
6
the sum is :  30
the reverse  number :  9876

In [ ]:
n=100
sum=0
while(n>=0):
  sum=sum+n
  n=n-1
print(sum)

5050

In [ ]:
#table
num = int(input(" enter the number : "))
for i in range(1-1,10+1):
  print("|",num,"*",i,"=",num*i)
print("----------------------")
print("----------------------")
  #with while loop
i=0
while(i<=10):
    print("|",num,"*",i,"=",num*i)
    i=i+1

 enter the number : 7
| 7 * 0 = 0
| 7 * 1 = 7
| 7 * 2 = 14
| 7 * 3 = 21
| 7 * 4 = 28
| 7 * 5 = 35
| 7 * 6 = 42
| 7 * 7 = 49
| 7 * 8 = 56
| 7 * 9 = 63
| 7 * 10 = 70
----------------------
----------------------
| 7 * 0 = 0
| 7 * 1 = 7
| 7 * 2 = 14
| 7 * 3 = 21
| 7 * 4 = 28
| 7 * 5 = 35
| 7 * 6 = 42
| 7 * 7 = 49
| 7 * 8 = 56
| 7 * 9 = 63
| 7 * 10 = 70

In [ ]:
#sum of a cubes number (kyunki 1³ + 2³ + 3³ + 4³ + 5³ = 225)
n=int(input("enter the number : "))
sum=0
for i in range(1,n+1):
  sum=sum+i**3
print(sum)

enter the number : 5
225

count = 0
for i in range(2,7):   # i = 2,3,4,5,6
    7 % 2 != 0
    7 % 3 != 0
    7 % 4 != 0
    7 % 5 != 0
    7 % 6 != 0
=> Ek bhi baar condition true nahi hui, count abhi bhi 0 hai.
if(count==0) → True
Output: 7 is a prime number

In [ ]:

#prime number ( simple rule = count = 0 prime number) (count> 0 = nhi hm prime number)( age count abhi bhi zero hi hm number prime hm and agr count = 1 ya koi or number hua toh wo prime number nhiiiiiii hmmm)
'''count = 0
for i in range(2,9):   # i = 2,3,4,5,6,7,8
    9 % 2 != 0
    9 % 3 == 0   → count = 1
    9 % 4 != 0
    9 % 5 != 0
    9 % 6 != 0
    9 % 7 != 0
    9 % 8 != 0
Loop khatam → count = 1
if(count==0)? → False
Output: 9 is not a prime number'''
#--------------------
# condition shi  nhi hui ika vi baar hm -- prime no.
# condition shi ho gi hm ----- prime no. hmmm

n=int(input("enter the number : "))
count = 0
for i in range(2,n):
  if(n%i==0): #( agr ika bhi factor mila gya number prime hmmm)
    count=count+1
if(count==0): # it means not equal logical mindd (count ye hm wo kitni baar divide hua hm....)
  print(n," is a prime number")
else:
  print(n,"is not a prime number")

print("-------------------")
# using break
for i in range(2,n):
  if(n % i == 0):   # agar ek bhi divisor mil gaya
    print(n, "is NOT a prime number")  # ❌ prime nahi hai
    break
else:  # loop pura chal gaya, matlab divisor nahi mila
    print(n, "is a prime number")

print("---------------")
#using a ballon
#is_prime = True
#Loop i = 2 → 7 % 2 ≠ 0
#Loop i = 3 → 7 % 3 ≠ 0
#Loop i = 4 → 7 % 4 ≠ 0
#Loop i = 5 → 7 % 5 ≠ 0
# i = 6 → 7 % 6 ≠ 0
#Loop khatam → is_prime abhi bhi True hai
#Output: 7 is a prime number

#-----------------------------

#is_prime = True
#Loop i = 2 → 9 % 2 ≠ 0
#Loop i = 3 → 9 % 3 == 0 → is_prime = False, break
#Loop khatam
#is_prime False hai
#Output: 9 is not a prime number
is_prime = True           # pehle maan lete hain ki number prime hai (balloon fula diya)
for i in range(2, n):     # 2 se n-1 tak sab check karo
    if (n % i == 0):      # agar number kisi se divide ho gaya
        is_prime = False  # matlab prime nahi hai → balloon phod do
        break             # aur loop se turant bahar aa jao

if is_prime == True:      # agar balloon abhi bhi safe hai
    print(n, "is a prime number")
else:                     # agar balloon phat gaya
    print(n, "is not a prime number")

enter the number : 4
4 is not a prime number
-------------------
4 is NOT a prime number
---------------
4 is not a prime number

In [ ]:
a=5<4
print(a)

False

In [ ]:
# reverse
num=2345
sum=0
while num > 0:
  digit=num%10
  sum=sum*10+digit
  num=num//10
print(sum)

5432

In [ ]:
#reverse difficult method
num=2345
sum=0
reverse=0
while num > 0:
  digit=num%10
  sum=sum+digit
  num=num//10
  reverse=reverse*10+digit
print("this is the reverse number : ",reverse)

this is the reverse number :  5432

In [ ]:

num=12345
reverse_num=0
while num>0:
  dig=num%10
  if dig >=0:
    reverse_num=reverse_num*10+dig
  num=num//10
print(reverse_num)

54321

In [ ]:
#palindrome
num=int(input("enter the number : "))
k=num
sum=0
while(num>0):
  dig=num%10
  sum=sum*10+dig
  num=num//10
if k==sum:
  print("palindrome")
else:
  print(sum)

enter the number : 12345
54321

In [ ]:
# palindrome number
a=int(input("enter the number : "))
t=a
c=0
while(a>0):
  d=a%10
  c=c*10+d
  a=a//10 # floor value
if(t==c):
  print(t,"is a palindrome")
else:
  print(t,"is NOT  a palindrome")
  # sum
print(c)

enter the number : 45678
45678 is NOT  a palindrome
87654

In [ ]:
#factorial series
fact=1
sum=0
for i in range(1,6):
  fact=fact*i
  sum=sum+fact
print(fact)
# sum
print(sum)

120
153

In [ ]:
# factorial series
num=int(input("enter the number : "))
f=1
s=0
for i in range(1,num+1):
  f=f*i
  s=s+f
print(f)
print(s)

enter the number : 5
120
153

In [ ]:
# replace (some mistake in which)
a=5
b=10
a=a+b
b=a-b
a=a+b
b=a-b
print(a)
print(b)

20
15

In [ ]:
#replace
a=5
b=10
a=a+b
b=a-b
a=a-b
print(a)
print(b)

10
5

In [ ]:
# balleon
n=int(input("enter the number : "))
_prime=True
for i in range(2,n):
  if(n%2==0):
    _prime=False
    break
if(_prime==True):
  print(n,"prime number")
else:
  print(n," NOT prime number")

enter the number : 9
9 prime number

In [ ]:
# sum of table numbers
num = int(input(" enter the number : "))
i=0
sum=0
while(i<=10):
    print("|",num,"*",i,"=",num*i)
    i=i+1
    sum=sum+num*i
print("the sum of the result numbers :",sum)

 enter the number : 2
| 2 * 0 = 0
| 2 * 1 = 2
| 2 * 2 = 4
| 2 * 3 = 6
| 2 * 4 = 8
| 2 * 5 = 10
| 2 * 6 = 12
| 2 * 7 = 14
| 2 * 8 = 16
| 2 * 9 = 18
| 2 * 10 = 20
the sum of the result numbers : 132

In [ ]:
# decrese level of even number
n=0
for i in range(101,n,-1):
  if(i%2==0):
   print(i)

100
98
96
94
92
90
88
86
84
82
80
78
76
74
72
70
68
66
64
62
60
58
56
54
52
50
48
46
44
42
40
38
36
34
32
30
28
26
24
22
20
18
16
14
12
10
8
6
4
2

In [ ]:
num=int(input("enter the vale :"))
mul=1
for i in range(0,num):
  digit=num%10
  mul *= int(digit)
print(" the multipication ",mul)

enter the vale :23
 the multipication  94143178827

In [ ]:
#sum of the cubes
n=int(input("enter the value:"))
sum=0
for i in range(0,n+1):
  sum=sum+i**3
print(sum)

enter the value:5
225

In [ ]:
year=int(input('enter:'))
y=year
while y >=400:
  y=y-400
if y==0:
  print("leap year")
else:

  y=year
  while y>=100:
    y=y-100
  if y==0:
    print("not a leap year")
  else:
    y=year
    while y>=4:

      y=y-4
    if y==0:
      print("leap year")
    else:
      print("not a leap year")

enter:2024
leap year

In [ ]:
# divisible
i=1
for i in range(1,100):
  if(i%5==0):
   continue
  print(i)

1
2
3
4
6
7
8
9
11
12
13
14
16
17
18
19
21
22
23
24
26
27
28
29
31
32
33
34
36
37
38
39
41
42
43
44
46
47
48
49
51
52
53
54
56
57
58
59
61
62
63
64
66
67
68
69
71
72
73
74
76
77
78
79
81
82
83
84
86
87
88
89
91
92
93
94
96
97
98
99

In [ ]:
#yearrr
for year in range(2000,2500):
  if year%4==0:
    if year%100==0:
      if year%400==0:
        print(year)
        continue
    else:
      print(year)

2000
2004
2008
2012
2016
2020
2024
2028
2032
2036
2040
2044
2048
2052
2056
2060
2064
2068
2072
2076
2080
2084
2088
2092
2096
2104
2108
2112
2116
2120
2124
2128
2132
2136
2140
2144
2148
2152
2156
2160
2164
2168
2172
2176
2180
2184
2188
2192
2196
2204
2208
2212
2216
2220
2224
2228
2232
2236
2240
2244
2248
2252
2256
2260
2264
2268
2272
2276
2280
2284
2288
2292
2296
2304
2308
2312
2316
2320
2324
2328
2332
2336
2340
2344
2348
2352
2356
2360
2364
2368
2372
2376
2380
2384
2388
2392
2396
2400
2404
2408
2412
2416
2420
2424
2428
2432
2436
2440
2444
2448
2452
2456
2460
2464
2468
2472
2476
2480
2484
2488
2492
2496

In [ ]:
#function
def speak():
  print("hello")

a=speak()

hello

In [ ]:
#fuctions add
def addtwo(a,b):
  return a+b
a=addtwo(10,20)
print(a)

30

In [ ]:
#fuctions
def addtwo(a,b):
  return a+b
a=addtwo(10,20)
b=addtwo(20,20)
print(a)
print(b)

30
40

In [ ]:
# fuctions
def mul(a,b,c,d,e,f):
  return a*b*c*d*e*f
a=mul(1,2,3,4,5,6)
print(a)

720

In [ ]:
# factorial # return

def mul(n):
  fact=1
  for i in range(1,n+1):
    fact=fact*i
  return fact
a=mul(10)
b=mul(20)
print(a)
print(b)

3628800
2432902008176640000

In [ ]:
#factorial #
def mul(n):
  fact=1
  for i in range(1,n+1):
    fact=fact*i
  return fact
a=mul(10)
b=mul(5)
print(a)
print(b)

3628800
120

In [ ]:
#add
def add(a,b,c):
  return a+b+c
a=add(2,5,6)
b=add(9,4,6)
print(a)
print(b)

13
19

In [ ]:
def biodata(name,age,salary):
  print(name)
  print(age)
  print(salary)
a=biodata("jiwan",16,26000)

jiwan
16
26000

In [ ]:
#sum fuction #use

def add(n):
  sum=0
  for i in range(0,n+1):
   sum=sum+i
  print(sum)
#call

add(10)

55

In [ ]:
#fabocier
def add(n):
  first=0
  second=1
  n=0
  while(n<=8):
   print(first)
   first,second=second,first+second
   n=n+1

add(10)

0
1
1
2
3
5
8
13
21

In [ ]:
#factorial use by function
def fact(n):
  fact=1
  sum=0
  for i in range(1,n+1):
    fact=fact*i
  return fact

a=fact(5)
b=fact(2)
print(a)
print(b)

120
2

In [ ]:
def fact(n):
  fact=1
  sum=0
  for i in range(1,n+1):
    fact=fact*i

  return fact

a=fact(5)
b=fact(2)
print(a)
print(b)

120
2

In [ ]:
def fact(n):
  sum=0
  factorial1=1
  for i in range(1,n+1):
    if(i%2!=0):
      factorial1=factorial1*i
    print(factorial1)
  sum+=factorial1
  print(factorial1)
  print(sum)
fact(5)

1
1
3
3
15
15
15

In [ ]:
def fact(n):
  sum=0
  fact=1
  for i in range(1,n+1,2):
    for y in range(1,i+1):
      fact=fact*y
      #print(fact)
      sum=sum+fact
      print(sum)

x=4
fact(x)

1
2
4
10

In [ ]:
def addnum(*args):
  return sum(args)
a=addnum(2,3,4)
b=addnum(3,9)
print(a)
print(b)

9
12

In [ ]:
#function
def addnum(*arg):
  sum=0
  for i in arg:
    sum=sum+i
  return sum

print(addnum(2,3,4))

9

In [6]:
def focus(**kwargs):
 print(kwargs)
focus(name="jiwan",age=28)

{'name': 'jiwan', 'age': 28}

In [11]:
#f use
a=15
b=2
print(f"sum of {a} and sum of {b} is : {a+b}")

sum of 15 and sum of 2 is : 17